@font-face {
    font-family: 'Gilroy';
    src: url(/Fonts/Gilroy-Light.woff);
}

body {
    background: url(/Img/Tavern.jpg) no-repeat;
    background-size: 1850px 980px;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    src: url(/Fonts/Gilroy-Light.woff);
    font-weight: 700;
    font-style: normal;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 250px;
    display: flex;
    align-items: center;
}

.navbar-fixed {
    top: 100px;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    z-index: 10;
    background-size: cover;
    position: fixed;
}

.navbarLink {
    width: 250px;
    height: 35px;
    padding: 5px 15px;
    color: black;
    font-size: 16px;
    background-color: darkgoldenrod;
    cursor: pointer;
    float: left;
    text-decoration: none;
    margin-bottom: 2px;
}

.navbarLink:first-child {
    margin-top: 2px;
}

.navbarLink:hover {
    background-color: rgb(255, 183, 2);
}

.All {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MainPage, .ProfilePage, .SinglePost {
    margin-top: 100px;
    width: 50%;
    align-self: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid darkgoldenrod;
    min-height: 100px;
    background-size: cover;
}

.header-fixed {
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-size: cover;
    position: fixed;
}

h2 {
    font-size: 40px;
    color: darkgoldenrod;
    margin: 25px;
}

.FormAdd {
    height: auto;
}

select {
    width: 160px;
    height: 35px;
    padding: 5px 15px;
    color: black;
    font-size: 14px;
    background-color: darkgoldenrod;
    cursor: pointer;
    float: right;
}

select:hover {
    background-color: rgb(255, 183, 2);
}

.post-list {
    display: flex;
    flex-direction: column-reverse;
}

.comment-list-opened {
    display: flex;
    flex-direction: column-reverse;
}

.comment-list-closed {
    display: none;
}

.post, .comment {
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px;
    border: 3px solid darkgoldenrod;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: darkgoldenrod;
    margin-top: 80px;
}

.post-content {
    width: 75%;
    font-size: 20px;
    color: darkgoldenrod;
    height: auto;
    text-decoration: none;
}

.post-content {
    cursor: pointer;
}

.post-content p {
    box-sizing: border-box;
    word-wrap: break-word;
}

.addPost, .comeIn {
    width: 100px;
    height: 35px;
    padding: 5px 15px;
    color: black;
    font-size: 14px;
    background-color: darkgoldenrod;
    cursor: pointer;
    float: right;
}

.addPost:hover, .comeIn:hover {
    background-color: rgb(255, 183, 2);
}

.searchAndSort p {
    text-align: end;
    margin-top: 30px;
    color: darkgoldenrod;
    font-size: 20px;
}

.post-delete button {
    width: 100px;
    height: 35px;
    padding: 5px 15px;
    color: black;
    font-size: 14px;
    background-color: darkgoldenrod;
    cursor: pointer;
}

.post-delete button:hover {
    background-color: rgb(255, 183, 2);
}

.post-enter, .comment-enter {
    transform: translateX(-550px);
}

.post-enter-active, .comment-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit, .comment-exit {
    opacity: 1;
}

.post-exit-active, .comment-exit-active {
    transform: translateX(550px);
    transition: all 500ms ease-in;
}

.numberPage {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.page {
    width: 50px;
    height: 35px;
    padding: 10px;
    color: black;
    font-size: 14px;
    background-color: darkgoldenrod;
    cursor: pointer;
}

.page:hover {
    background-color: rgb(255, 183, 2);
}

.pageCurrent {
    font-weight: bold;
    border: 2px solid black;
    background-color: rgb(255, 183, 2);
}

.emailAndPassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.email, .password, .firstName, .lastName {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 3px solid darkgoldenrod;
    background: transparent;
    color: darkgoldenrod;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.regularBox {
    display: flex;
    justify-content: center;
}

.regular, .first, .showComments, .addComment, .edit {
    width: 200px;
    height: 35px;
    padding: 5px 15px;
    color: black;
    font-size: 14px;
    background-color: darkgoldenrod;
    cursor: pointer;
    margin-top: 50px;
}

.showComments {
    align-self: flex-end;
}

.addComment, .edit {
    margin-top: 0;
    align-self: flex-end;
}

.postBody {
    display: flex;
    flex-direction: column;
}

.regular:hover, .first:hover, .showComments:hover, .addComment:hover, .edit:hover {
    background-color: rgb(255, 183, 2);
}

.buttonInPost {
    display: flex;
    flex-direction: column;
}

.textComment {
    width: 100%;
    min-height: 100px;
    height: auto;
    padding: 5px 15px;
    margin: 5px 0;
    border: 3px solid darkgoldenrod;
    background: transparent;
    color: darkgoldenrod;
    resize: none;
    box-sizing: border-box;
    font-family: 'Gilroy';
    src: url(/Fonts/Gilroy-Light.woff);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    margin-top: 50px;
}

.information {
    width: 250px;
    min-height: 35px;
    padding: 5px 15px;
    color: black;
    font-size: 16px;
    background-color: darkgoldenrod;
    float: left;
    text-decoration: none;
    margin-bottom: 2px;
}

.information-fixed {
    top: 180px;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    z-index: 10;
    background-size: cover;
    position: fixed;
}

.TitleInside {
    font-size: 50px;
    color: darkgoldenrod;
    margin-top: 80px;
    background: transparent;
    border: none;
    width: 100%;
}

.DescriptionInside {
    margin-top: 30px;
    margin-bottom: 30px;
    color: darkgoldenrod;
    font-size: 24px;
    background: transparent;
    border: none;
}

.UserIdInside, .TimeAddInside {
    color: darkgoldenrod;
}

.commentForm {
    display: flex;
    flex-direction: column;
}

.comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px;
    border: 3px solid darkgoldenrod;
    margin-top: 15px;
    color: darkgoldenrod;
}